h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: #0b2a3f;
    background-color: #81cd22;
    border: solid;
    border-width: 5px;
}

#p-menu{
  position: absolute;
  top: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #0b2a3f;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; /* Cambia el cursor a una manita */
}

#p-menu:hover {
  color: #81cd22;
}


#btnHome{
    width: 70px;
}

#btnBaja{
    width: 170px; 
    height: 6vh; 
    padding: 2px;
    background-color: #0B2A3F; 
    color: #FFFF; 
    font-size: 24px; 
    font-family: inter;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  #btnBaja:hover {
    background-color: #000000; 
  }

  #btnAlta{
    margin-left: 20px;
    width: 190px; 
    height: 6vh; 
    padding: 2px;
    background-color: #0B2A3F; 
    color: #FFFF; 
    font-size: 24px; 
    font-family: inter;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  #btnAlta:hover {
    background-color: #000000; 
  }  

  #inventory-container{
    color: #000000;
  }